In [6]:
import pandas as pd

url = 'https://raw.githubusercontent.com/jeffallen13/ofac/master/data/ofac_list.csv'
ofac_df = pd.read_csv(url, encoding='ISO-8859-1')

display(ofac_df.head())

,Ent_num,SDN_name,SDN_type,Program,Title,Call_sign,Vess_type,Tonnage,GRT,Vess_flag,...,Add_remarks,Alt_num,Alt_type,Alt_name,Alt_remarks,Remarks_cont,Program_cat,Rep_date,removal_date,add_date
0,36,AEROCARIBBEAN AIRLINES,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,12.0,aka,AERO-CARIBBEAN,-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
1,173,"ANGLO-CARIBBEAN CO., LTD.",-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,57.0,aka,AVIA IMPORT,-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
2,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,220.0,aka,NATIONAL BANK OF CUBA,-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
3,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,220.0,aka,NATIONAL BANK OF CUBA,-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
4,306,BANCO NACIONAL DE CUBA,-0-,CUBA,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,220.0,aka,NATIONAL BANK OF CUBA,-0-,NaN,SDN,2022-04-30,NaN,2022-04-30

In [16]:
# Search for 'Kenyan ID No' in all string columns of the original dataframe
# First, select only the string columns
string_cols = ofac_df.select_dtypes(include='object')

# Concatenate all string columns into a single string series, handling potential NaNs
concatenated_strings = string_cols.astype(str).agg(' '.join, axis=1)

# Filter the original dataframe where the concatenated strings contain 'Kenya' (case-insensitive)
kenyan_df = ofac_df[concatenated_strings.str.contains('kenya|uganda|tanzania|somalia|', case=False, na=False)]

# Set pandas option to display full column content for the Remarks column
pd.set_option('display.max_colwidth', None)

# Display only the specified columns
display(kenyan_df[['SDN_name','Remarks','Alt_name','Vess_type','Vess_flag','Country']])

# Reset pandas option to default to avoid affecting subsequent outputs
pd.reset_option('display.max_colwidth')

,SDN_name,Remarks,Alt_name,Vess_type,Vess_flag,Country
0,AEROCARIBBEAN AIRLINES,-0-,AERO-CARIBBEAN,-0-,-0-,Cuba
1,"ANGLO-CARIBBEAN CO., LTD.",-0-,AVIA IMPORT,-0-,-0-,United Kingdom
2,BANCO NACIONAL DE CUBA,a.k.a. 'BNC'.,NATIONAL BANK OF CUBA,-0-,-0-,Switzerland
3,BANCO NACIONAL DE CUBA,a.k.a. 'BNC'.,NATIONAL BANK OF CUBA,-0-,-0-,Spain
4,BANCO NACIONAL DE CUBA,a.k.a. 'BNC'.,NATIONAL BANK OF CUBA,-0-,-0-,Japan
...,...,...,...,...,...,...
84545,"KARIMI, Leila","DOB 12 Jul 1986; nationality Iran; Gender Female; Secondary sanctions risk: section 1(b) of Executive Order 13224, as amended by Executive Order 13886; Linked To: ALPA TRADING - FZCO.","KARIMI, Leyla",-0-,-0-,United Arab Emirates
84546,"DERAKHSHAN, Alireza","DOB 26 Dec 1983; POB Tehran, Iran; nationality Iran; Gender Male; Digital Currency Address - ETH 0xdb2720ebad55399117ddb4c4a4afd9a4ccada8fe; Secondary sanctions risk: section 1(b) of Executive Order 13224, as amended by Executive Order 13886; Digital Currency Address - TRX TSxAAo67VTDgKT537EVXxdogkJtk9c6ojz; Passport I96938324 (Iran) expires 10 Mar 2026; Residency Number 784-1983-3659407-6 (United Arab Emirates); Linked To: ISLAMIC REVOLUTIONARY GUARD CORPS (IRGC)-QODS FORCE.","DERAKHSHAN, Alireza Mohammad Javad",-0-,-0-,United Arab Emirates
84547,"ALIVAND, Arash Estaki","DOB 31 Dec 1971; POB Tehran, Iran; nationality Iran; Gender Male; Digital Currency Address - ETH 0xe3d35f68383732649669aa990832e017340dbca5; alt. Digital Currency Address - ETH 0x532b77b33a040587e9fd1800088225f99b8b0e8a; Secondary sanctions risk: section 1(b) of Executive Order 13224, as amended by Executive Order 13886; Digital Currency Address - TRX TYDUutYN4YLKUPeT7TG27Yyqw6kNVLq9QZ; alt. Digital Currency Address - TRX TRakpsE1mZjCUMNPyozR4BW2ZtJsF7ZWFN; alt. Digital Currency Address - TRX TQ5H49Wz3K57zNHmuXVp6uLzFwitxviABs; Passport E96089017 (Iran); Linked To: ISLAMIC REVOLUTIONARY GUARD CORPS (IRGC)-QODS FORCE.",NaN,-0-,-0-,United Arab Emirates
84548,LEX - INSTITUTO DE ESTUDOS JURIDICOS LTDA,"Organization Established Date 01 Jun 2000; Organization Type: Activities of holding companies; Registration Number 03850784000135 (Brazil); Linked To: DE MORAES, Alexandre.",NaN,-0-,-0-,Brazil
84549,"BARCI DE MORAES, Viviane","DOB 16 Jan 1969; POB Sao Paulo, Brazil; nationality Brazil; Gender Female; National ID No. 208841180 (Brazil); Diplomatic Passport DC000886 (Brazil); Linked To: LEX - INSTITUTO DE ESTUDOS JURIDICOS LTDA.","BARCI, Viviane",-0-,-0-,Brazil

In [19]:
def check_name_in_ofac(name, ofac_df):
  """
  Checks if a name exists in the SDN_name column of the OFAC DataFrame.

  Args:
    name: The name to search for (case-insensitive).
    ofac_df: The pandas DataFrame containing the OFAC list.

  Returns:
    A DataFrame containing the rows that match the name, or an empty DataFrame
    if no match is found.
  """
  if 'SDN_name' in ofac_df.columns:
    # Use case=False for case-insensitive matching
    return ofac_df[ofac_df['SDN_name'].str.contains(name, case=False, na=False)]
  else:
    print("Error: 'SDN_name' column not found in the DataFrame.")
    return pd.DataFrame()


name_to_check = "Mustafa Mohamed"
search_results = check_name_in_ofac(name_to_check, ofac_df)

if not search_results.empty:
  print(f"Found matches for '{name_to_check}':")
  display(search_results)
else:
  print(f"No matches found for '{name_to_check}'.")

Found matches for 'Mustafa Mohamed':

,Ent_num,SDN_name,SDN_type,Program,Title,Call_sign,Vess_type,Tonnage,GRT,Vess_flag,...,Add_remarks,Alt_num,Alt_type,Alt_name,Alt_remarks,Remarks_cont,Program_cat,Rep_date,removal_date,add_date
889,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4833.0,aka,"ELBISHY, Moustafa Ali",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
890,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4834.0,aka,"MOHAMMED, Mustafa",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
891,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4835.0,aka,"FAZUL, Mustafa",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
892,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4838.0,aka,"FADIL, Mustafa Muhamad",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
893,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4839.0,aka,"AL MASRI, Abd Al Wakil",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
894,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4842.0,aka,"ALI, Hassan",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
895,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4843.0,aka,"MAN, Nu",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
896,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4845.0,aka,"JIHAD, Abu",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
897,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4846.0,aka,"AL-NUBI, Abu",-0-,NaN,SDN,2022-04-30,NaN,2022-04-30
67127,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4833.0,aka,"ELBISHY, Moustafa Ali",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67128,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4834.0,aka,"MOHAMMED, Mustafa",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67129,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4835.0,aka,"FAZUL, Mustafa",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67130,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4838.0,aka,"FADIL, Mustafa Muhamad",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67131,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4839.0,aka,"AL MASRI, Abd Al Wakil",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67132,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4842.0,aka,"ALI, Hassan",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67133,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4843.0,aka,"MAN, Nu",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67134,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4845.0,aka,"JIHAD, Abu",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30
67135,6924,"FADHIL, Mustafa Mohamed",individual,SDGT,-0-,-0-,-0-,-0-,-0-,-0-,...,-0-,4846.0,aka,"AL-NUBI, Abu",-0-,NaN,SDN,2025-03-31,NaN,2022-04-30